<div class="add-new-task">
    <form method="POST" action="/createtasklist/<%=taskList._id%>/task" class="inputform">
      <h3>Add Task</h3>
      <br>
      <label for="tasksname" class="type-text-label">Task Name:</label>
      <input
        type="text"
        name="taskName"
        placeholder="Task name"
        autocomplete="off"
      /><br />
      <label for="description">Description:</label
      ><textarea
        name="description"
        placeholder="Description"
        autocomplete="off"
      ></textarea
      ><br />
      <label for="duedate">Due Date:</label
      ><input
        type="date"
        name="dueDate"
        placeholder="Due Date"
        class="due-date"
      /><br />
      <label for="periodtype">Period Type:</label
      ><br />
      <button class="submit">Submit</button>
    </form>
</div>