<div class="taskbuttonsdiv">
    <form
    class="task-btn"
    action="/createtasklist/<%=taskList._id%>?_method=DELETE"
    method="POST"
    >
    <button class="delete-btn">Delete Task List &nbsp;*(cannot be undone)</button>
</form>
  </div>