


<div class="mobile-menu-button-wrapper">
  <span class="mobilemenu-buttons" onClick=`${mobileMenuHandler(true)}`
    ><i class="fa-solid fa-plus"></i> &nbsp;
    <% if (page==="index") { %>
      Create New Task List
      <%} else { %>
      Add Task
      <% } %>
      </span
  >
</div>
<script>
  function mobileMenuHandler(openClose) {
    let openCloseHelper=openClose;
    let createTaskContainer = document.getElementById("mobilemenuhandler");
    if (openCloseHelper===true)
      {
        createTaskContainer.classList.add('create-task-container-mobile-width')
      } else {
        createTaskContainer.classList.remove('create-task-container-mobile-width')
    }
  }
</script>
