<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="back-wrapper">
      <i
        class="fa-solid fa-arrow-left"
        onClick="`${history.back()}`"
        style="cursor: pointer"
      ></i>
    </div>
    <div class="logo">
      <h2><a href="/" style="color: white">BeUpdated</a></h2>
    </div>
    <div class="account-container">
      <ul>
        
        <%if(path==="auth") { %>
        <li>
          <a href="/auth" style="color: white">
            &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span
              >Login/Signup</span
            ></a> 
          </li>
          <%} else { %>
        <li>
          <a href="/account" style="color: white"
            ><i class="fa-solid fa-user"></i> &nbsp;<span>Account</span>
            &nbsp;</a
          >
        </li>
        <%}%>
      </ul>
    </div>
  </div>  
</div>