<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="back-wrapper"><i class="fa-solid fa-arrow-left" onClick=`${history.back()}`></i></div>
    <div class="logo">
      <h2>BeUpdated</h2>
    </div>
    <div class="account-container">
      <ul>
        <li><i class="fa-solid fa-user"></i> &nbsp;<span>Account</span> &nbsp;</li>
        <li> &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span>Logout</span></li>
      </ul>
    </div>
  </div>
</div>
