<%- include('../../Partials/header', {title: "Account - BeUpdated"}); -%>
<%- include('../../Shared/navbar', {path: "Account"}); -%>

<div class="wrapper">
    <div class="card-container">
        <%- include('./left') -%>
      </div>
      <div>
        Account page
      </div>
    
</div>

<%- include('../../Partials/footer'); -%>