<div class="account-card-wrapper card-wrapper">
    <div class="card-title">
        <div class="avatar">
            <span>R</span>
        </div>       
    </div>
    <div class="account-card-description card-description">
        <ul>
            <li>
                <a href="#" style="color: white">
                  &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span
                    >Manage Task Lists</span
                  ></a
                >
              </li>
            <li>
                <a href="#" style="color: white">
                  &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span
                    >Change Profile Details</span
                  ></a
                >
              </li>
            <li>
                <a href="#" style="color: white">
                  &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span
                    >More</span
                  ></a
                >
              </li>
            
            <li>
                <a href="/logout" style="color: white">
                  &nbsp;<i class="fa-solid fa-right-from-bracket"></i> &nbsp;<span
                    >Logout</span
                  ></a
                >
              </li>
        </ul>
    </div>
</div>