<div class="login-wrapper authentication-forms">
  
  <div class="">
    <h2>Enter Details To Login</h2>
    <form method="POST" action="/login" class="inputform">
        <input
          type="text"
          name="usernameoremail"
          placeholder="Enter Your Username or Email"
          autocomplete="off"
        />
        <input
          name="password"
          placeholder="Enter Your Password"
          autocomplete="off"
        />
        <br />
  
        <br />
        <button class="submit">Submit</button>
      </form>
    </div>
</div>