<div class="login-wrapper authentication-forms">
  <div>
    <h3>Enter Details To Login</h3>
    <form method="POST" action="/login" class="inputform">
      <input
      type="text"
      name="usernameoremail"
      placeholder="Username or Email"
    />
    <input
    type="password"
      name="password"
      placeholder="Enter Your Password"
      autocomplete="off"
    />
    <br />

    <br />
        <button class="submit">Submit</button>
      </form>
    </div>
</div>