<div class="tasklist alltasks">
  <% if(allTasks.length===0) { %>
    <h2>No Task Found</h2>
  <%} else {%> 
  <ul>
    
    <% for(let task of allTasks) { %>
    <div class="tasksview">
        <li>
          <ul>
            <li>Name: <%= task.taskListName %></li>
            <li>Description: <%= task.description %></li>
            <% if (taskList.isActive) { %>
            <p style="color: green">Active</p>
            <%} else { %>
            <p style="color: red">Active</p>
            <% } %>
          </ul>
        </li>
    </div>
    <% } }%>
  </ul>
</div>