<!DOCTYPE html>
<html lang="en">
    <%- include('./head', {title:"Edit Tasks"}); -%>

</head>
<body>
    <div class="container">
    <form action="/createtasklist/<%=editTask._id%>?_method=PUT" method="POST" class="inputform">
        <input
            type="text"
            name="taskListName"
            placeholder="Task name"
            autocomplete="off"
            value="<%= editTask.taskListName %>"
            />
            <textarea
            name="description"
            placeholder="Description"
            autocomplete="off"
            ><%= editTask.taskListName %></textarea>
          <br />
        <button class="submit">Update</button>
    </form>    
</div>
</body>
</html>
