<!DOCTYPE html>
<html lang="en">
      <%- include('./Partials/head', {title: "Todo App"}); -%>
      <body>
        <div class="container">
      <div class="create-task-container">
        <h1>Create New Task List</h1>
        <form method="POST" action="/api/createtasklist" class="inputform">
          <input
            type="text"
            name="taskListName"
            placeholder="Task name"
            autocomplete="off"
          />
          <textarea
            name="description"
            placeholder="Description"
            autocomplete="off"
            rows="4"
          ></textarea>
          <br />

          <br />
          <button class="submit">Submit</button>
        </form>
      </div>

      <div class="tasklist">
        <ul>
          <% for(let taskList of allTaskList) { %>
          <div class="tasksview">
            <a href="/api/createtasklist/<%= taskList._id %>">
              <li>
                <ul>
                  <li>Name: <%= taskList.taskListName %></li>
                  <li>Description: <%= taskList.description %></li>
                  <% if (taskList.isActive) { %>
                  <p style="color: green">Active</p>
                  <%} else { %>
                  <p style="color: red">Active</p>
                  <% } %>
                </ul>
              </li>
            </a>
            <br />
          </div>
          <% }%>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>