@media only screen and (max-width: 800px) {
  
  .navbar-wrapper {
    gap:4rem;
  }
  
  .mobile-menu-container {
    display: block;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
  }

  .mobile-top-heading {
    margin-bottom: 2rem;
  }

  .mobile-menu-button-wrapper {
    margin: auto auto;
    background-color: aliceblue;
    width: 50%;
    padding: 1rem;
  }

  .account-container ul li span {
    display: none;
  }

  .container {
    flex-flow: column;
  }

  .create-task-container {
    display: none !important;
  }

  .tasklist-container {
    display: none !important;
  }

  .create-task-container-mobile {
    clear: both;
    display: flex !important;
    flex-flow: column !important;
    justify-content: center;
    align-items: center;
    width: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

  .create-task-container-mobile-width {
    width: 75% !important;
    padding: 2rem;
  }

  .create-task-container-mobile form {
    display: flex !important;
    flex-flow: column !important;
    justify-content: center;
    width: 100%;
  }

  .close-button {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 6rem;
  }

  h1 {
    margin-top: 2rem !important;
  }

  .tasklist {
    margin: auto auto;
    margin-top: 0rem;
    width: 95%;
    height: 100%;
    padding: 0.5rem 0.5rem;
  }

  .tasklist > ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .tasksview {
    height: auto;
    margin-top: 1.2rem;
  }

  label {
    display: inline-block !important;
    width: 75px;
    font-size: 13px;
  }

  .add-new-task input,
  .add-new-task .due-date,
  .add-new-task select,
  .add-new-task textarea {
    width: 85% !important;
  }

  .type-text-label {
    width: 71px !important;
  }
}
