@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

* {
  padding: 0px;
  margin: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28);
  height: 10px;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 36, 36);
}

.navbar-container {
  position: fixed;
  top: 0px;
  background-color: rgb(22, 22, 22);
  width: 100%;
  padding: 0.7rem;
  z-index: 2;
}

.navbar-wrapper {
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  color: white;
}

.account-container ul {
  display: flex;
  flex-flow: row;
  list-style: none;
}
.account-container ul li {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.2rem;
}

h1 {
  text-transform: capitalize;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.mobile-menu-container {
  display: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.create-task-container {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  display: flex !important;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0px 0px 18px 0px rgb(167, 167, 167);
  width: 25%;
  padding: 2rem;
}

.create-task-container-mobile {
  display: none;
}

.create-task-container-mobile-width {
  display: none;
}

.close-button {
  display: none;
}

h1 {
  color: rgb(36, 36, 36);
}

.inputform {
  margin-top: 1rem;
}

Button {
  height: 40px;
  width: 100%;
  background-color: rgb(22, 22, 22);
  color: white;
  outline: none;
  margin: 20px 0px;
  cursor: pointer;
}

input,
select {
  height: 40px;
}

input,
textarea,
select {
  width: 95%;
  border: 1px solid rgb(175, 175, 175);
  outline: none;
  padding: 6px;
  margin-bottom: 10px;
}

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

.tasklist {
  margin-left: 30%;
  width: 65%;
  margin-top: 2rem;
  padding: 2rem;
}

.tasklist > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.tasksview > a > li > ul {
  list-style: none;
  padding: 0px;
}
.tasksview > li > ul {
  list-style: none;
  padding: 0px;
}
.tasksview > a > li > ul > li {
  margin-bottom: 10px;
  overflow: hidden;
}
.tasksview > li > ul > li {
  margin-bottom: 10px;
  overflow: hidden;
}

.tasksview {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding: 1rem;
  box-shadow: 0px 0px 8px 0px rgb(201, 201, 201);
}
.tasksview > li {
  text-transform: capitalize;
}

.taskbuttonsdiv {
  width: 100%;
}

.delete-btn {
  border: 1px solid red;
  background-color: red;
  position: relative;
  top: -40px;
  width: 30%;
}

.tasklist-container {
  margin-top: 3rem;
  justify-content: start !important;
  overflow-y: scroll;
}

textarea {
  vertical-align: middle;
}

label {
  display: inline-block;
  width: 75px;
  font-size: 13px;
}

.add-new-task {
  margin-bottom: 4rem;
  width: 100%;
}

.add-new-task h2 {
  margin-bottom: 2rem;
}

.add-new-task input,
.add-new-task .due-date,
.add-new-task select,
.add-new-task textarea {
  width: 72% !important;
}

.type-text-label {
  width: 71px !important;
}

.tasks-grid-layout {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.tasks-grid-layout > li {
  width: 80%;
}

.tasks-action-buttons {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  gap: 10px;
}

.tasks-action-buttons > div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.fa-trash,
.fa-check,
.fa-xmark {
  color: rgb(255, 255, 255);
}

/* Authentications pages */

.authentication-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.login-form-wrapper{
  width:60%;
  margin-left: 29%;
  margin-top: 9rem;
  padding: 2rem;
  display: flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgb(201, 201, 201);
}

.signup-container, .login-container{
  width:40%;
}

.or-tag {
  width:20%;
  text-align: center;
}

.authentication-forms {
  display: flex;
  flex-flow:row;
}


.card-container{
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  background-color: aliceblue;
  box-shadow: 0px 0px 18px 0px rgb(167, 167, 167);
  width: 25%;
  padding: 2rem;
}

.card-wrapper {
  margin-top: 5rem;
}