@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
  --darkbackground: #0d1117;
  --lightbackground: #11151d;
  --darkestbackground: #0a0d12;
  --blue: #0d1117;
  --white: #ffffff;
  --text: grey;
  --border: #17202b;
}

* {
  padding: 0px;
  margin: 0px;
  color:rgb(210, 210, 210);
  background-color: var(--darkbackground);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text);
  height: 10px;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-track {
  background: var(--border);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 36, 36);
}

.navbar-container {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0.7rem;
  z-index: 2;
  border-bottom: 1px solid var(--border);
}

.navbar-wrapper {
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  color: white;
}

.account-container ul {
  display: flex;
  flex-flow: row;
  list-style: none;
}
.account-container ul li {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.2rem;
}

h1, h2, h3, h4, h5, h6, p {
  text-transform: capitalize;
  color: var(--text);
  font-weight: 500;
  letter-spacing: -0.3px;
}

a {
  text-decoration: none;
  color: var(--text);
}

.mobile-menu-container {
  display: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.create-task-container {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  display: flex !important;
  flex-flow: column;
  justify-content: center;
  border-right:1px solid var(--border);
  width: 22%;
  padding: 2rem;
}

.create-task-container-mobile {
  display: none;
}

.create-task-container-mobile-width {
  display: none;
}

.close-button {
  display: none;
}

.inputform {
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding: 0px;
  gap:10px;
}

Button {
  height: 40px;
  width: 90%;
  border: 1px solid var(--border);
  background-color: var(--darkestbackground);
  border-radius: 15px;  
  color: var(--text);
  outline: none;
  margin: 20px 0px;
  cursor: pointer;
}

input,
select {
  height: 40px;
}

input,
textarea,
select {
  width: 85%;
  border: 1px solid var(--border);
  background-color: var(--darkestbackground);
  border-radius: 15px;
  outline: none;
  padding: 6px;
  margin-bottom: 10px;
}

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

.tasklist {
  margin-left: 28.5%;
  width: 65%;
  margin-top: 4rem;
  padding: 2rem;
}

.tasklist > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.tasksview > a > li > ul {
  list-style: none;
  padding: 0px;
}
.tasksview > li > ul {
  list-style: none;
  padding: 0px;
}
.tasksview > a > li > ul > li {
  margin-bottom: 10px;
  overflow: hidden;
}
.tasksview > li > ul > li {
  margin-bottom: 10px;
  overflow: hidden;
}

.tasksview {
  /* background-color: var(--lightbackground); */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding: 1rem;
  border-radius:15px;
  border: 1px solid var(--border);
}
.tasksview > li {
  text-transform: capitalize;
}

.taskbuttonsdiv {
  width: 100%;
}

.delete-btn {
  border: 1px solid rgba(255, 0, 0, 0.247);
  color: var(--text);
  position: relative;
  top: -40px;
  width: 30%;
}

.tasklist-container {
  margin-top: 3rem;
  justify-content: start !important;
  overflow-y: scroll;
}

textarea {
  vertical-align: middle;
}

label {
  display: inline-block;
  width: 75px;
  font-size: 13px;
}

.add-new-task {
  margin-bottom: 4rem;
  width: 100%;
}

.add-new-task h2 {
  margin-bottom: 2rem;
}

.add-new-task input,
.add-new-task .due-date,
.add-new-task select,
.add-new-task textarea {
  width: 72% !important;
}

.type-text-label {
  width: 71px !important;
}

.tasks-grid-layout {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.tasks-grid-layout > li {
  width: 80%;
}

.tasks-action-buttons {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  gap: 10px;
  border-left: 1px solid var(--border);
}

.tasks-action-buttons > div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  
  align-items: center;
}

.trash-button{
  border-bottom: 1px solid var(--border);
}

.fa-trash,
.fa-check,
.fa-xmark {
  color: var(--text);
}

/* Authentications pages */

.authentication-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.form-wrapper{
  width:80%;
  margin-top: 9rem;
  padding: 2rem;
  display: flex;
  flex-flow:row;
  justify-content:center;
  align-items: center;
  border:1px solid var(--border);
  border-radius: 15px;
}

.signup-wrapper, .login-wrapper{
  display: flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  width:80%;
}

.login-container, .signup-container
{
  display: flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  width:50%;
}

.signup-container {
  border-left:1px solid var(--border);
}

.card-container{
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  display: flex !important;
  flex-flow: column;
  align-items: center;
  border-right:1px solid var(--border);
  width: 22%;
  padding: 2rem;
}

.card-wrapper {
  display: flex !important;
  flex-flow: column;
  gap:5rem;
  margin-top: 5rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height:150px;
  width: 150px;
  border-radius: 100%;
  border:1px solid var(--border);
}

.card-description ul {
  display: flex;
  flex-flow: column;
  gap:2rem;
}