<div class="card-wrapper">
    <div class="card-logo">
        <img src="/images/favicon.png" style="background-color:black; border-radius:100%;padding:5px;"/>
        <span style="font-size:2.5rem; font-weight:700;">BeUpdated</span>        
    </div>
    <div class="card-description">
        <br>
        <p>ToDo Web App For Project Collaboration</p>
    </div>
</div>